@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color-light: #f8f9fd;
  --font-color-dark: var(--clr-grey-900);

  --font-color-tint1: var(--clr-grey-600);
  --font-color-tint2: var(--clr-grey-400);

  --accent-color: #ff0000;
  /*  #e52526  #ffcd01 */
  --border-color: var(--clr-grey-40);

  /* --secondary-color: #1E1E1E; */

  --bg-color: #121212;
  --primary-color: #4a0000;
  --secondary-color: #1f1f1f;
  --secondary-color-a6: rgba(31, 31, 31, 0.6);
  --tertiary-color: #2e2e2e;
  --quaternary-color: #333333;
  --hover-color: #363636;

  --transition-one: all 0.4s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

a {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif, sans-serif;
  color: var(--font-color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  min-height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--font-color-light);
}

.dropdown {
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  z-index: 2;
  background: var(--bg-color);
}

.item {
  border: none;
}

.item:hover {
  background: var(--hover-color);
}
